@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0; 
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  color: #292f36;
  background-color: white;
}
.container {
  box-sizing: border-box;
 margin: 0 auto;
 width: 100%;
 max-width: 1140px;
 position: relative;
 padding: 0 30px;
}



/*Main color*/
.primary-background {
  background-color: #0c70e2;
}

.primary-color{
  color: #0c70e2;
}


.secondary-background {
  background-color: #1d1d1d;
}
.secondary-color{
  color: #1d1d1d;
}

.tertiary-background{
  background-color: #f6f6f6;
}

.tertiary-color{
  color: #f6f6f6;
}

.grey-1-color{
  color: #4D5053;
}


.colorlist li a {
  list-style: none;
  text-decoration: none;
  color: #1D1D1D; 
  font-weight: bold;
  transition: color 0.3s;
}

.nonelist{
  list-style: none;
  padding: 0;
  margin: 0;
}
.nonelist li a:hover {
  color: #0c70e2; /* Cor ao passar o mouse */
}

.gap{
  gap: 10px;
}

.al-center{

  align-items: center;
}

.al-end{
  align-items: end;
}
  
.d-flex{
  display: flex;
}

.fd-column{
  flex-direction: column;
}

.jc-center{
  justify-content: center;
}

.jc-end{
  justify-content: end;
}
.jc-between{
  justify-content: space-between;
}
/*Form*/
.form-input{
  font-family: "Jost", sans-serif;
  border: none;
  border-bottom: 1px solid #292f36;
  color: #292f36;
  font-size: 22px;
  padding: 0 0 13px 0;
  outline: none;
  width: 100%;
}

.form-input::placeholder {
  color: #292f36;
  opacity: 1; /* Opacidade do placeholder */
}


@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .mobile-fd-column {
    flex-direction: column;
  }
}
